<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/materials">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedMaterial.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-img [src]="loadedMaterial.image"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div text-center>
          <h3>{{loadedMaterial.description}}</h3>
          <h4>{{loadedMaterial.quantity}}</h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>